<h1>New Student</h1>

<%= form_with model: @students do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :matric %>
        <%= form.text_field :matric %>
    </div>

    <div>
        <%= form.label :gender %>
        <%= form.text_field :gender %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to  "Back To Main", root_path %>